build/0.0.1/examples/jqvmap.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script><script type="text/javascript" src="https://cdn.rawgit.com/inca/bigfoot/master/build/bigfoot-init.js"></script><script type="text/javascript" src="../jqvmap.min.js"></script><link type="text/css" rel="stylesheet" href="../jqvmap.css" media="screen"></head><body><p>This script depends on several scripts:</p><ul><li><a href="http://jquery.com">jQuery;</a></li><li><a href="http://github.com/inca/bigfoot">bigfoot;</a></li></ul><p>Make sure they are insalled at your app.</p><pre><code>&lt;div data-map='russia_ru' data-selected-regions='ky,cr,ka'></div>
&lt;div id='ky'>Курская область – ЦФО&lt;/div></code></pre><p>Описание для выделенных регионов можно давать, используя элемент с идентификтором этой области.</p><div data-map="russia_ru" data-selected-regions="ky,cr,ka"></div><div id="ky"><p>Курская область – ЦФО</p></div><div id="cr">Республика Крым</div><div id="ka">Камчатский Край</div></body></html>

example/jqvmap.jade
extends _layout
block append head
  script(type='text/javascript', src='../jqvmap.min.js')
  link(type="text/css" rel='stylesheet', href='../jqvmap.css', media='screen')
block append body
  p This script depends on several scripts:
  ul
    li
      a(href='http://jquery.com') jQuery;
    li
      a(href='http://github.com/inca/bigfoot') bigfoot;
  p Make sure they are insalled at your app.

  pre
    code
      | &lt;div data-map='russia_ru' data-selected-regions='ky,cr,ka'></div>
      | &lt;div id='ky'>Курская область – ЦФО&lt;/div>
  p Описание для выделенных регионов можно давать, используя элемент с идентификтором этой области.
  div(data-map='russia_ru' data-selected-regions='ky,cr,ka')
  #ky
    p Курская область – ЦФО
  #cr Республика Крым
  #ka Камчатский Край
